[Unit]
Description=IPFS daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=<user-name>
ExecStart=/usr/local/bin/ipfs daemon

[Install]
WantedBy=multi-user.target
